
*.vsidx
*.vsidx
*.vsidx
.vs/WMS - Projekt/FileContentIndex/7d3c40a8-4c24-4865-ab43-8f7da19d7c05.vsidx
.vs/WMS - Projekt/FileContentIndex/7d3c40a8-4c24-4865-ab43-8f7da19d7c05.vsidx
.vs/WMS - Projekt/v17/.suo
WMS - Projekt/obj/Debug/net8.0-windows/WMS - Projekt.pdb
WMS - Projekt/obj/Debug/net8.0-windows/WMS - Projekt.sourcelink.json
WMS - Projekt/obj/Debug/net8.0-windows/WMS - Projekt.genruntimeconfig.cache
*.cache
WMS - Projekt/obj/Debug/net8.0-windows/WMS - Projekt.csproj.FileListAbsolute.txt
*.cache
*.vsidx
*.v2
*.bin
*.json
